.blog-title{
    color: darkblue;
}

.blog-section{
    border: 2px solid firebrick;
    width: 600px;
    margin: auto;
    padding-left: 10px;
    /* text-align: center; */
    margin-bottom: 30px;

}
.blog-section h2{
    text-align: center;
    text-decoration: underline;
}
.blog-section small{
    background-color: aquamarine;
}